[Unit]
Description=Start the cart
After=docker.target

[Service]
Type=simple
ExecStart=/bin/docker-compose  -f /archeplay-ecomm-demo/cart/docker-compose.yaml up -d
TimeoutStartSec=0

[Install]
WantedBy=default.target